.vs/
.vscode/
/output/
/lib/
/pdb/
moc_*
ui_*
*.aps
sources/Application/*.pdb
/TestResults/
Lib/
Output/
Pdb/
*.vcxproj.user
bin/x64Debug/
bin/
*.qm
*.qm
/sources/Infrastructure/Common/.visualgdb/CodeDB/Common-Debug-VisualGDB
/sources/Infrastructure/Common/.visualgdb/CodeDB/CommonLinux-Debug-VisualGDB
/sources/Infrastructure/LinuxProjectTemplate/.visualgdb/CodeDB/LinuxProjectTemplate-Debug-VisualGDB/*.000
/sources/Infrastructure/Math/.visualgdb/CodeDB/Math_Linux-Debug-VisualGDB/*.npd
/sources/Infrastructure/LinuxProjectTemplate/.visualgdb/CodeDB/CommonLinux-Debug-VisualGDB
/.visualgdb/CodeExplorer/*.dat
/sources/Infrastructure/Common/.visualgdb/CodeExplorer/*.dat
/sources/Infrastructure/Common/.visualgdb/VisualGDBCache/Common-Debug/SysprogsSyncCache/*.dat
/sources/Infrastructure/Common/.visualgdb/VisualGDBCache/Common-Debug/SysprogsSyncCache/*.id
/sources/Infrastructure/Common/.visualgdb/VisualGDBCache/CommonLinux-Debug/SysprogsSyncCache/*.dat
/sources/Infrastructure/Common/.visualgdb/VisualGDBCache/CommonLinux-Debug/SysprogsSyncCache/*.id
/sources/Infrastructure/Common/VisualGDB/Debug/*.log
/sources/Infrastructure/Common/VisualGDB/Debug/*.alldeps
/sources/Infrastructure/Common/VisualGDB/Debug/*.msbuild-mak
/sources/Infrastructure/LinuxProjectTemplate/.visualgdb/CodeDB/LinuxProjectTemplate-Debug-VisualGDB.0001/*.lck
/sources/Infrastructure/LinuxProjectTemplate/.visualgdb/CodeDB/LinuxProjectTemplate-Debug-VisualGDB/*.001
/sources/Infrastructure/LinuxProjectTemplate/.visualgdb/CodeDB/LinuxProjectTemplate-Debug-VisualGDB/*.txt
/sources/Infrastructure/LinuxProjectTemplate/.visualgdb/CodeDB/LinuxProjectTemplate-Debug-VisualGDB/*.lck
/sources/Infrastructure/LinuxProjectTemplate/.visualgdb/CodeExplorer/*.dat
/sources/Infrastructure/Math/.visualgdb/CodeDB/Math_Linux-Debug-VisualGDB/*.npa01
/sources/Infrastructure/Math/.visualgdb/CodeDB/Math_Linux-Debug-VisualGDB/*.rdb
/sources/Infrastructure/Math/.visualgdb/CodeDB/Math_Linux-Debug-VisualGDB/*.000
/sources/Infrastructure/Math/.visualgdb/CodeDB/Math_Linux-Debug-VisualGDB/*.001
/sources/Infrastructure/Math/.visualgdb/CodeDB/Math_Linux-Debug-VisualGDB/*.npa00
/sources/Infrastructure/Math/.visualgdb/CodeDB/Math_Linux-Debug-VisualGDB/*.txt
/sources/Infrastructure/Math/.visualgdb/CodeDB/Math_Linux-Debug-VisualGDB/*.lck
/sources/Infrastructure/Math/.visualgdb/VisualGDBCache/Math_Linux-Debug/SysprogsSyncCache/*.dat
/sources/Infrastructure/Math/.visualgdb/VisualGDBCache/Math_Linux-Debug/SysprogsSyncCache/*.id
/sources/Infrastructure/Math/VisualGDB/Debug/*.alldeps
/sources/Infrastructure/Math/VisualGDB/Debug/*.log
/sources/Infrastructure/Math/VisualGDB/Debug/*.msbuild-mak
/sources/Infrastructure/Math/.visualgdb/VisualGDBCache/Math-Debug/SysprogsSyncCache/*.dat
/sources/Infrastructure/Math/.visualgdb/VisualGDBCache/Math-Debug/SysprogsSyncCache/*.id
/bin
/lib
/pdb
/output
